- extends 'base.haml'
- load i18n

- block 'header'
    Clients

- block 'content'
    .span12
        - for client in clients
            - with status=client.is_online
                .span3
                    .thumbnail
                        - if status
                            %img{'src':'{{client.screenshot_url}}'}
                        - else
                            %img{'src':'{{STATIC_URL}}/img/no_image.gif'}

                    %h3
                        %a{'href':'{{client.get_absolute_url}}'}
                            {{client.name}}
                    - if client.location
                        %p
                            location: {{client.location}}
                    %p
                        - trans 'Status:'
                        - if status
                            %span.label.label-success
                                - trans 'Online'
                        - else
                            %span.label.label-warning
                                - trans 'Offline'
                    %p
                        ip: {{client.last_ip}}
                    %p
                        - if client.last_active
                            - blocktrans with date=client.last_active
                                Last Active: {{date}}
                        - else
                            - blocktrans
                                Last Active: Never
                    %p
                        %a.btn.btn-inverse{'href':'http://{{client.last_ip}}:{{client.port}}/'}
                            - trans 'Manage'
