- extends 'base.haml'
- load i18n

- block 'header'
    Clients
    %a.btn.btn-primary.pull-right{"href":"{% url 'clients'%}?discover=1"}
        Discover clients

- block 'content'
    .span12
        
            
        %table.table.table-striped.active-table
            %thead
                %th
                %th Name
                %th Location
                %th Status
                %th IP/hostname
                %th Last active
                %th
            - for client in clients
                - with status=client.is_online
                    %tr
                        %td{width:"300px"}
                            .thumbnail
                                - if status
                                    %a{href:"{{client.screenshot_url}}", target:"_blank"}
                                        %img{'src':'{{client.screenshot_url}}'}
                                - else
                                    %img{'src':'{{STATIC_URL}}/img/no_image.gif'}
                        %td
                            %a{'href':'{{client.get_absolute_url}}'}
                                {{client.name}}
                        %td
                            {{client.location}}
                        %td 
                            - if status
                                %span.label.label-success
                                    - trans 'Online'
                            - else
                                %span.label.label-warning
                                    - trans 'Offline'
                        %td
                            ip: {{client.last_ip}}
                        %td
                            - if client.last_active
                                - blocktrans with date=client.last_active
                                    {{date}}
                            - else
                                - blocktrans
                                    Never
                        %td
                            %a.btn.btn-inverse{'href':'http://{{client.last_ip}}:{{client.port}}/'}
                                - trans 'Manage'
